# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ProyectoPatrones.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\DevWorkspaces\Unity\2020.3.0f1\ThePowerUps\DesignPatterns\ProyectoPatrones\.idea\.idea.ProyectoPatrones\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
